.movies-list > li {
  list-style: none;
}

.movie-poster {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.page-wrapper {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 40px;
  padding: 5px;
}

li {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.movie-info {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.search-header {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.input-search {
  flex: 1;
  height: 2rem;
}

.search-label {
  padding-left: 10px;
  font-size: 1.2rem;
}

.credits {
  text-align: center;
  margin-top: 40px;
  font-style: italic;
}

@media screen and (max-width: 800px) {
  ul {
    grid-template-columns: 1fr 1fr;
    gap: 60px 40px;
  }
}

@media screen and (max-width: 500px) {
  ul {
    grid-template-columns: 1fr;
    gap: 60px 40px;
  }
  .search-header {
    flex-direction: column;
  }
  .input-search {
    width: 90%;
  }
}
