.movies-list > li {
  list-style: none;
}

.movie-poster {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.page-wrapper {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 40px;
  padding: 5px;
}

li {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in;
}

.movie-info {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.search-header {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.input-search {
  flex: 1;
  height: 2rem;
}

.search-label {
  padding-left: 10px;
  font-size: 1.2rem;
}

.credits {
  text-align: center;
  margin-top: 40px;
  font-style: italic;
}

.overview {
  background-color: #fff;
  color: black;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
}

.overview-title {
  margin-top: 0;
  color: black;
}

li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  /* transform: scale(1.01); */
  box-shadow: 0px 0px 10px #0096bfab;
  transition: 0.3s ease-in;
}

li .show {
  transform: translateY(0);
}

@media screen and (max-width: 1024px) {
  ul {
    grid-template-columns: 1fr 1fr;
    gap: 60px 40px;
  }
}

@media screen and (max-width: 640px) {
  ul {
    grid-template-columns: 1fr;
    gap: 60px 40px;
  }
  .search-header {
    flex-direction: column;
  }
  .input-search {
    width: 90%;
  }
}
